
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Home/GetBookById/600?id=123">View Book with ID 100</a>

    @*<a href="/Home/GetBookById?id=100&name=paul">View Book with ID 100</a>*@

    <form method="post" action="/Home/GetBookById">
            <label>ID:</label><input type="number" name="id"/>
            <br />
            <input type="submit" value="Submit" />
        </form>
</body>
</html>
