@Model RoutingDemo.Models.BookModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookDetailzViewDude</title>
</head>
<body>
    <h1>
        You are viewing details about book @Model.BookID
    </h1>
</body>
</html>
