
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
    <div id="CustomeBoy">
        <h1>
            Welcome to the Home page
        </h1>
        <nav>
            <a href="/">Home</a>
            <br />
            <a href="/8">8Moo</a>
            <br />
            <a href="/Moo">About us</a>
            <br />
            <a href="/EatMoreChicken">More Chickin</a>
            <br />
            <a href="/Betsy/Gallery">Betsy info</a>
            <br />
            <a href="/20/Betsy">BetsyMoo</a>
            <br />
            <a href="/Allcows/Gallery">All cows Gallery</a>
            <br />
            <a href="/Allcows/Gallery/5">All cows Gallery 5 per page</a>
            <br />
            <a href="/Allcows/Gallery/5/page5">All cows Gallery 5 per page, page 5</a>
            <br />
            <a href="/Allcows/Gallery/5/6">All cows Gallery 5 per page, page 6</a>
            <br />
            <a href="/Allcows/Gallery/page5">All cows Gallery no amount, page 5</a>
            <br />
            <a href="/moo8">Multiple Moo</a>

        </nav>
    </div>
    
</body>
</html>
