body {
    background-color: #FF8984;
    padding: 5px;
}

html {
    background-color: #B7D7D8;
    padding: 15px;
}

footer {
    background-color: #EDF7F5;
    padding: 5px;
}

nav {
    background-color: #204E5F;
    padding: 5px;
}

header {
    background-color: #c67171;
    padding: 5px;
}

a.navbar-brand{
    color: #9fddff;
}

a.navbar-brand:active{
    color: #74ffc4;
}
