
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav>
        <a href="/Home/Index">Home</a>
        <br />
        <a href="/">Home Page 2</a>
        <br />
        <a href="/Home">Home page 3</a>
        <br />
        <a href="/AwesomeBook/List">Book List</a>
        <br />
        <a href="/Book/Detail/100">Book 100 details wtf List</a>
        <br />
        <a href="/AwesomeBook/List/100/Page10">Book 100 details wtf List</a>



    </nav>
    <h1>
        Book Routing Demo Hompage
    </h1>
</body>
</html>
