<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2>AngularJS Sample Application</h2>
    <div ng-app="">
        <table border="0">
            <tr>
                <td>
                    <input type="checkbox" ng-model='enableDisableButton'>Disable
                    Button
                </td>
                <td>
                    <button ng-disabled="enableDisableButton">Click Me!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" ng-model='showHide1'>Show Button
                </td>
                <td>
                    <button ng-show="showHide1">Click Me!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" ng-model='showHide2'>Hide Button
                </td>
                <td>
                    <button ng-hide="showHide2">Stay Away!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Total clicks: {{ ClickCounter }}</p>
                </td>
                <td>
                    <button ng-click="ClickCounter = ClickCounter + 1">Click Me!</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
</body>

</html>