
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>GreetingPage</title>
</head>
<body>
    <div class="validation-summary-errors">
        <h1>Welcome @Model.FirstName @Model.LastName to your Texacorp Site</h1>
        <h3>@Model.Message</h3>
    </div>
</body>
</html>
