@model IxcameyC_Routing.Models.Gallery

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>AllGallery</title>
</head>
<body>
    <h1> 
        Viewing all cows informaion fetured on our website, @Model.Amount per page, and you are on page @Model.PageNo
    </h1>
</body>
</html>
