@model IxcameyC_Routing.Models.CowModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>CowMooDefault</title>
</head>
<body>
    <h1> 
        The Default cow moos at you @Model.MooCount times
    </h1>
</body>
</html>
