@model IxcameyC_Routing.Models.MooModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>MultiMoo</title>
</head>
<body>
    <h1>
        @Model.MooReturn        
    </h1>
</body>
</html>
