@model IxcameyC_Routing.Models.Gallery

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>SingleGallery</title>
</head>
<body>
    <h1> 
        Showing information for the cow @Model.SlcCow
    </h1>
</body>
</html>
