
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shaquele oatmeal</title>
</head>
<body>
    <h1>
        smell fresh
    </h1>
    <div> 
    </div>
</body>
</html>
