
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/AboutUs/Index">About us</a>
    </nav>
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.MyName</h2>
    <p class="aboutUsParagraphs">@ViewBag.Myinfo</p>

</body>
</html>
