
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>About Us</title>
</head>
<body>
    <header>
       
        <div class="heading">
            <h1>
                Welcome To The About Us Page!
            </h1>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "AboutUs")">
                        <span>About us</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div id="bodySpace">
        <p>
            Our Story <br />
                From the start, we wanted to make a website in the shortest time possible. This dream then turned into a realitry like little bit ago. Throughout our journy, we've decided that we needed to optomize how fast and randomly put together we could make this site. in the end, we decided that having the minimal design and... well everything is the to go.
        </p>
    </div>
 
</body>
</html>
